<!DOCTYPE html>
<html>
<head>
    <title>Vue的render方法说明</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

</head>
<body>
<div id="app">
    <child :level="2">
        hello world
    </child>
</div>

<script type="text/x-template" id="anchored-heading-template">
    <div>
        <h1 v-if="level === 1">
            <p>1</p>
            <slot>1</slot>
        </h1>
        <h2 v-if="level === 2">
            <p>2</p>
            <slot></slot>
        </h2>
        <h3 v-if="level === 3">
            <slot></slot>
        </h3>
        <h4 v-if="level === 4">
            <slot></slot>
        </h4>
        <h5 v-if="level === 5">
            <slot></slot>
        </h5>
        <h6 v-if="level === 6">
            <slot></slot>
        </h6>
    </div>
</script>

<script type="text/javascript">
    Vue.component('child', {
        template: '#anchored-heading-template',
        props: {
            level: {
                type: Number,
                required: true
            }
        }
    });
    new Vue({
        el: "#app"
    })
</script>
</body>
</html>
