<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>vue的指令案例</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <li>
            <h3>分支</h3>
            <div v-if="score>90">A</div>
            <div v-else-if="score>80">B</div>
            <div v-else-if="score>70">C</div>
            <div v-else-if="score>60">D</div>
            <div v-else="">E</div>
            <input type="text" v-model="score"/>
        </li>
        <li>
            <h3>v-show指令</h3>
            <div v-show="flag">出来吧！1</div>
            <!-- 分清楚v-if跟v-show的区别
                v-if:控制的是标签是否答应
                v-show:控制的是标签的样式
             -->
            <div v-if="flag">出来吧！2</div>
        </li>
        <li>
            <h3>v-for指令</h3>
            <div v-for="item,index in data1">
                {{item}}~{{index}}<br>
            </div>
            <hr/>
            <div v-for="item,index in data2">
                {{item.id}}~{{item.name}}~{{index}}<br>
            </div>
        </li>
        <li>
            <h3>动态事件调用</h3>
            <button v-on:[evname]="xxx">动态事件调用</button>
            <input type="text" v-model="evname"/>
        </li>
    </ul>
</div>

</body>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            score: 88,
            flag: true,
            data1: [1, 3, 6, 9, 14],
            data2: [{
                id: 1,
                name: '游戏'
            },
                {
                    id: 2,
                    name: '篮球'
                },
                {
                    id: 3,
                    name: '唱歌'
                }],
            evname: 'click'
        },
        methods: {
            xxx() {
                console.log('xxx方法被调用')
            }
        }
    })
</script>

</html>